auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 0
  log_level: info

ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
  chunk_idle_period: 5m
  chunk_retain_period: 30s
  wal:
    enabled: true
    dir: /loki/wal

schema_config:
  configs:
    - from: 2025-11-21
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: loki_index_
        period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
  filesystem:
    directory: /loki/chunks

compactor:
  working_directory: /loki/compactor

limits_config:
  ingestion_rate_mb: 4
  ingestion_burst_size_mb: 6
  allow_structured_metadata: true
  max_query_length: 12000s
  max_entries_limit_per_query: 5000
